body {
    /*min-height: 100vh;*/
    z-index: -100 !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: .75rem !important;
    color: var(--med-grey) !important;
}

#entriesRow {
    z-index: -100 !important;
}

.bold {
    font-weight: bold;
    position: relative;
}

.search-category-selector {
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--grey);
    padding-bottom: 0;
}

.search-category-selector ~ hr {
    height: .15rem !important;
}

.indexLink {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--light-grey);
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    letter-spacing: 0.05rem;
}


.indexLink:hover {
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-grey);
}

.indexLink.active {
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-grey);
}


.icon-text-col {
    max-width: 15rem;
}

.fas {
    font-size: 1.3rem;
    color: var(--light-grey);
}

.slides-frame {
    min-width: 200%;
    height: 200%;
    border: 0;
    zoom: 0.51;
    -moz-transform: scale(0.30);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.30);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.50);
    -webkit-transform-origin: 0 0;
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-div {
    background-color: black;
    position: relative;
    top: 50%;
    /*transform: translateY(50%);*/
    padding-bottom: 29%;
    padding-top: 0;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


@media only screen and (max-width: 768px) {
    .search-category-selector {
        font-size: .9rem !important;
    }

    .title-text {
        padding: 0 0 0 0 !important;
    }

    .fas {
        font-size: 1rem;
    }

    .btn .navbar-toggler-icon {
        height: 1rem;
        width: 1.1rem;
    }

    select {
        width: 100% !important;
    }

    #indexCategoriesRow {
        width: 80% !important;
        padding: 0 !important;
    }

    .blurry-borders {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0 !important;
    }

    .custom-select {
        max-width: 50%;
    }

    .media-container {
        padding: 0 2em 0 2em !important;
    }

    .nav-item-md {
        font-size: 1rem !important;
    }

    .nav-container {
        padding: 0 0 0 0 !important;
    }

    p {
        text-align: center;
    }

    .slides-col {
        height: 20rem;
    }

    .video-div {
        top: 0;
        left: 0;
        transform: translateY(2rem);
        padding-bottom: 0;
        padding-top: 0;

        width: 93%;
        height: 20rem;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .video-frame {
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        height: 100%;
    }
}