body {
    /*min-height: 100vh;*/
    z-index: -100 !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: .75rem !important;
    color: var(--med-grey) !important;
}

#entriesRow {
    z-index: -100 !important;
}

.bold {
    font-weight: bold;
    position: relative;
}

.search-category-selector {
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0);
    color: var(--grey);
    padding-bottom: 0;
}

.search-category-selector ~ hr {
    height: .15rem !important;
}

.indexLink{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--light-grey);
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    letter-spacing: 0.05rem;
}


.indexLink:hover {
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-grey);
}

.indexLink.active {
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-grey);
}


.profile-pic {
    object-fit: fill;
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
}

.icon-text-col {
    max-width: 15rem;
}

.fas {
    font-size: 1.3rem;
    color: var(--light-grey);
}

@media only screen and (max-width: 576px) {
    .search-category-selector {
        font-size: 1.05rem !important;
    }

    .fas {
        display: none;
    }

    iframe {
        max-height: 15rem;
    }

    .custom-select {
        max-width: 50%;
    }
}