body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bold;
    position: relative;
}

.blurry-borders {
    box-shadow: 0 0 5px 10px #ffffff;
}

.search-letters {
    font-size: 1.1rem;
    color: var(--grey);
    /*font-weight: bold;*/
}

.search-category {
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0);
    color: var(--grey);
    padding-bottom: 0;
}

.search-category ~ hr {
    height: .15rem !important;
}

.indexLink{
    text-decoration: none;
    color: var(--light-grey);
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    letter-spacing: 0.05rem;
}




.indexLink:hover {
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-grey);
}

.indexLink.active {
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-grey);
}



