@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background-color: var(--home-bg-color) !important;
    height: 100vh;
}

h1 {
    color: var(--light-grey);
    font-family: 'Times New Roman',serif !important;
    letter-spacing: 0.3rem;
    font-size: 3rem !important;
}

h2 {
    color: var(--light-grey);
    font-weight: normal;
    font-size: 1.2rem;
}

.nav-link {
    font-size: 1.2rem !important;
}

a {
    letter-spacing: 0.1rem;
}

/*font-family: 'Times New Roman',serif !important;*/
/*font-family: 'Verdana',serif;*/
/*font-family: 'Sacramento', cursive;*/
