body {
    height: 100vh;
}

.time-col {
    white-space: nowrap;
}

th {
    position: sticky;
    top: 10rem;
    background-color: white;
    color: var(--grey);
}

td {
    font-weight: lighter;
}

.tr-link {
    color: var(--grey);
    font-weight: normal;
}

.tr-link:hover {
    color: var(--dark-grey);

}

@media only screen and (max-width: 768px) {
    .container {
        font-size: 80%;
    }

    th {
        top: 10em;
    }

    .fixed-bottom {
        position: sticky;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1030;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        font-size: 60%;
    }

    th {
        top: 15em;
    }

}